<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="ui main text piled very padded segment col-md-8 show2">  
            <p class="showpagetitle">- An Opening At <%=internjob.company%> -</p>
                <h3 class="location"><i class="fa fa-university" aria-hidden="true"></i><b> Institution:</b> <%=internjob.company%></h3>
                <h3 class="locationlocation"><i class="fa fa-map-marker" aria-hidden="true"></i><b>   Location:</b> <%=internjob.location%></h3>
                <h3 class="location"><i class="fa fa-users" aria-hidden="true"></i><b> Looking For:</b> An Intern</h3>
                <h3 class="location"><i class="fa fa-money" aria-hidden="true"></i><b>   Allowance:</b> &#8358; <%=internjob.allowance%></h3>
                <h3 class="location"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i><b>   No of interns needed:</b> <%=internjob.quantity%></h3>
                <p class="jobcreated"><i class="fa fa-calendar"></i> Created On: <%= internjob.created.toDateString() %></p>
                <p class="backbutton"><button class="ui green basic button"><a href="/internjobs"><< Back</a></button></p>
                
                <div class="item">     
                <br>
                <br>
                <hr>
               
                <div class="description">
                    <p class="jobdescription"><%=internjob.description%></p>
                </div>
                <br>
           
               </p>
                </div>
                <br>
                

                
        </div>

        <div id="" class="col-md-1" >
        </div>

        <div id="premium" class="col-md-3 ui segment" >
              
            <div >
              <h3 class="us">Premium Listings</h3>
              <p class="premiumdescription">With premium, there is 100% guarantee you get an IT Placement or NYSC PPA.</p>
            </div>  
           

            <% premiumjobs.forEach(function(premiumjob){ %>
              <div id="" class="showpremiumjobonhomepage">
                <h5 ><a class="header" href="/premiumjobs/<%=premiumjob._id%>"><i class="fa fa-external-link" aria-hidden="true"></i> Premium Listing at <%=premiumjob.company%> </a></h5>
                        
                     
              </div>  
             <% }); %>  
             <p class="createlisting"><a href="/premiumjobs">- View All -</a></p>
             <hr class="hrline">
             <h3 class="design">Newsletter</h3>
              <p class="subsciptiontext">Would you like to get an email notification for new listings?</p>

              <form id="subscriptionform" class="ui form form" action="/subscribe" method="POST"> 
              <div class="field">
                  <p class="subscriptionforminput"><input type="text" name="subscribe" placeholder="Enter Your Email Address" required></p>
        
                  <p class="subscribebutton"><button class="ui green button">Subscribe</button></p>
                </div>
              </form>
              <hr class="hrline">
              <h3 class="design">Connect with us </h3>
              <p class="social">
              <img src="/images/facebook.jpg" height="32" width="32">
              <img src="/images/instagram.jpg" height="32" width="32">
              <img src="/images/twitter.jpg" height="32" width="32">
              </p>
           
               
          </div> 
    </div>
</div>




<% include ../partials/footer %>