<% include ../partials/header %>
          <div class="container">
              <p class="jobpageheading">ALL PREMIUM LISTINGS</p>
            <div class="row">
                  <div class="col-md-3 d1 ui segment">
                    <h4 class="design">Advertise Here</h4>
                    <!-- ADCODE GOES HERE -->
                  </div>
        
                 <div class="col-md-6 ">
                    <p class = "viewfree"><button class="ui green basic button"><a href="/jobs">Click to view free listings</a></button></p>
                   <p class="premiumdescription">With premium, there is 100% guarantee you get an IT Placement or NYSC PPA.</p>
                   
                    <% premiumjobs.forEach(function(premiumjob){ %>

                      <div id="forumposts" class="ui piled very padded segment">
                          <h5><a class="header" href="/jobs/<%=premiumjob._id%>"><i class="fa fa-university" aria-hidden="true"></i> Institution: <%=premiumjob.company%> </a></h5>
                          <h5 class="location"><span>  <i class="fa fa-map-marker" aria-hidden="true"></i> Location: <%=premiumjob.location%>  </span></h5>
                          <h5 class="location"> <span><i class="fa fa-users" aria-hidden="true"></i>Position : <%=premiumjob.title%></span></h5>
                          <h5 class="locationred"><span><i class="fa fa-calendar"></i> Created on : <%= premiumjob.created.toDateString() %></span></h5>
                          <p><a href="/premiumjobs/<%=premiumjob._id%>"><button class="ui  labeled icon green button"><i class="right arrow icon"></i>More Details</button></a></p>
                      </div>  
                     <% }); %>    
                  
                  </div>

            <div class="col-md-3 d3 ui segment" >
              <div >
                <h4 class="us">Advertise Here</h4>
                
                
              </div>  
              
            </div>
                                
              </div>
        
          </div>
        
        
<br>
<br>
<br>
<br>
<br>
<% include ../partials/footer %>





