<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="ui main text piled very padded segment col-md-8 show2">  
            <p class="showpagetitle">- Premium Listing: An Opening At <%=premiumjob.company%> -</p>
                <h3 class="location"><i class="fa fa-university" aria-hidden="true"></i><b>Company Name:</b> <%=premiumjob.company%></h3>
                <h3 class="locationlocation"><i class="fa fa-map-marker" aria-hidden="true"></i><b>        Location:</b> <%=premiumjob.location%></h3>
                <h3 class="location"><i class="fa fa-users" aria-hidden="true"></i><b>  Looking For:</b> <%=premiumjob.title%></h3>
                <p class="getplacement">To get this placement, Send us a message on whatsapp: +2349037879130</p>
                <p class="backbutton"><button class="ui green basic button"><a href="/premiumjobs"><< Back</a></button></p>
                <div class="item">     
                <br>
                <br>
                <hr>
               
                <div class="description">
                    <p class="jobdescription"><%=premiumjob.description%></p>
                </div>
                <br>
                
                    <a class="ui grey button" href="/premiumjobs/<%=premiumjob._id%>/edit">EDIT</a>
                    <form id="delete" action="/premiumjobs/<%=premiumjob._id%>?_method=DELETE" method="POST"> 
                        <button class="ui red button">DELETE</button>
                    </form>
                    
               </p>
                </div>
                <br>
                

                
        </div>

        <div class="col-md-1" >
        </div>  

        <div class="col-md-3 d3 ui segment" >
            <div >
                <h4 class="us">Advertisement</h4>
             </div>  
                
              </div>
    </div>
</div>




<% include ../partials/footer %>