<% include ../partials/header %>
          <div class="container">
              <p class="jobpageheading">FREE PPA LISTINGS</p>

            <div class="row">
                <div id="navigation" class="col-md-3 d1 ui segment">
                    <h3 class="design">Navigation</h3>
                    <h4><a href="/corperjobs">Sort By PPA Listings</a></h4>
                    <h4><a href="/internjobs">Sort by Siwes Listings</a></h4>
                    <hr class="hrline">
                    <h3 class="design">Twitter Feed</h3>
                    <a class="twitter-timeline" height="700px" href="https://twitter.com/officialnyscng?ref_src=twsrc%5Etfw">Tweets by officialnyscng</a>
                     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                     
                  </div>
        
                 <div class="col-md-6 ">

             
                   <p class="back"><a href="/jobs"> << Go Back</a></p>

                    <% corperjobs.forEach(function(corperjob){ %>

                      <div id="forumposts" class="ui piled very padded segment">
                        <h3><a class="header" href="/corperjobs/<%=corperjob._id%>"><%=corperjob.company%> </a></h3>
                         <p><span>Location: <%=corperjob.location%>  </span></p>
                          <p> <span>Position : Corp Member</span></p>
                          <span>Created on : <%= corperjob.created.toDateString() %></span>
                          
                            <p><a href="/corperjobs/<%=corperjob._id%>"> <button type="button" class="btn btn-success btn-xs jobbutton">More Details</button></a></p>
                      </div>  
                     <% }); %>    
                  
                  </div>

                  <div id="premium" class="col-md-3 ui segment" >
              
                      <div >
                          <h3 class="us">Premium Listings</h3>
                          <p class="premiumdescription">With premium, there is 100% guarantee you get an IT Placement or NYSC PPA.</p>
                        </div> 
                     
        
                      <% premiumjobs.forEach(function(premiumjob){ %>
                        <div id="" class="showpremiumjobonhomepage">
                          <h5 ><a class="header" href="/premiumjobs/<%=premiumjob._id%>"><i class="fa fa-external-link" aria-hidden="true"></i> Premium Listing at <%=premiumjob.company%> </a></h5>
                                  
                               
                        </div>  
                       <% }); %>  
                       <p class="createlisting"><a href="/premiumjobs">- View All -</a></p>
                       <hr class="hrline">
                       <h3 class="design">Newsletter</h3>
                        <p class="subsciptiontext">Would you like to get an email notification for new listings?</p>
        
                        <form id="subscriptionform" class="ui form form" action="/subscribe" method="POST"> 
                        <div class="field">
                            <p class="subscriptionforminput"><input type="text" name="subscribe" placeholder="Enter Your Email Address" required></p>
                  
                            <p class="subscribebutton"><button class="ui green button">Subscribe</button></p>
                          </div>
                        </form>
                        <hr class="hrline">
                        <h3 class="design">Connect with us </h3>
                        <p class="social">
                          <a href="https://www.fb.com/servitng" target="_blank"> <img src="/images/facebook.jpg" height="32" width="32"></a>
              <a href="https://instagram.com/servit.ng" target="_blank"> <img src="/images/instagram.jpg" height="32" width="32"></a>
              <a href="https://twitter.com/servitng" target="_blank"><img src="/images/twitter.jpg" height="32" width="32"></a>
              <a href="mailto:hello@servit.ng" target="_blank"><img src="/images/mail.png" height="32" width="32"></a>
                        </p>
                     
                         
                    </div>        
            </div>
        
          </div>
        
        
<br>
<br>
<br>
<br>
<br>
<% include ../partials/footer %>





